.list {
  display: grid;
  grid-area: "ingredients constructor";
  grid-template-columns: 1fr 1fr;
  gap: 32px 24px;
  margin-top: 0;
}

.list:last-child {
  margin-bottom: 0;
}

.content {
  max-height: 620px;
  overflow-y: overlay;
}
